@{
    ViewData["Title"] = "Home Page";
}
<div class="d-flex justify-content-center align-items-center mt-5">
    <div class="row text-center">
        <!-- Kafelek Restauracje -->
        <div class="col-md-6 mb-4">
            <div class="card shadow-lg border-0 fixed-tile">
                <div class="card-body">
                    <h2 class="card-title">Restauracje</h2>
                    <p class="card-text">Odkryj najlepsze restauracje w swojej okolicy!</p>
                    <a class="btn btn-primary btn-lg" href="@Url.Action("Index", "Restaurants")">Zobacz Restauracje</a>
                </div>
            </div>
        </div>

        <!-- Kafelek Dania -->
        <div class="col-md-6 mb-4">
            <div class="card shadow-lg border-0 fixed-tile">
                <div class="card-body">
                    <h2 class="card-title">Dania</h2>
                    <p class="card-text">Zamów swoje ulubione potrawy już teraz!</p>
                    <a class="btn btn-primary btn-lg" href="@Url.Action("Index", "Dishes")">Zobacz Dania</a>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
    @if (ViewBag.UserRole == "Client")
    {
        <a class="btn btn-primary" href="@Url.Action("Index", "Restaurants")">Wyświetl Restauracje</a>
        <a class="btn btn-primary" href="@Url.Action("Index", "Baskets")">Twój Koszyk</a>
        <a class="btn btn-primary" href="@Url.Action("MyOrders", "Orders")">Moje Zamówienia</a>

    }
    </div>
</div>
<style>
    .fixed-tile {
        width: 400px;
        height: 400px;
    }

    .card-body {
        text-align: center;
    }
    
</style>