@model IEnumerable<szyBka_szAMa.Models.Restaurant>

@{
    ViewData["Title"] = "Lista Restauracji";
}

<h2>Lista Restauracji</h2>

<div class="row">
    @foreach (var restaurant in Model)
    {
        <div class="col-md-4 mb-4">
            <div class="card shadow-lg border-0">
                <a href="@Url.Action("Menu", "Restaurants", new { id = restaurant.Id })" class="card-link">
                    <div class="card-body">
                        <h5 class="card-title">@restaurant.Name</h5>
                        <img src="path_to_image.png" alt="@restaurant.Name" class="card-img mb-3" />
                        <p class="card-text">@restaurant.Address.Street, @restaurant.Address.City</p>
                    </div>
                </a>
            </div>
        </div>
    }
</div>
<style>
    .card-link {
        text-decoration: none; /* Usuwa podkreślenie */
        color: inherit; /* Kolor tekstu odziedziczony po elemencie nadrzędnym */
    }

    .card-link:hover {
        opacity: 0.8; /* Ustawienie efektu przyciemnienia po najechaniu */
        text-decoration: none; /* Usuwa podkreślenie przy hover */
    }
</style>