@model IEnumerable<szyBka_szAMa.Models.Dish>

@{
    ViewData["Title"] = "Index";
}

<h1>Wszystkie dania</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-md-4 mb-4">
            <div class="card shadow-lg border-0">
                <a href="@Url.Action("Details", "Dishes", new { id = item.Id })" class="card-link">
                    <div class="card-body">
                        <h5 class="card-title">@item.Name</h5>
                        <!-- Jeśli obrazek jest dostępny, wyświetlamy go -->
                        @if (!string.IsNullOrEmpty(item.Photo))
                        {
                            <img src="@item.Photo" alt="@item.Name" class="card-img mb-3" />
                        }
                        <p class="card-text">@item.Description</p>
                        <p class="card-text"><strong>Price:</strong> @item.Price.ToString("C")</p>
                        <p class="card-text"><strong>Category:</strong> @item.DishCategory</p>
                        <p class="card-text"><strong>Restaurant:</strong> @item.Restaurant.Name</p>
                    </div>
                </a>
                <div class="card-footer text-center">
                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-warning btn-sm">Edit</a>
                    <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger btn-sm">Delete</a>
                </div>
            </div>
        </div>
    }
</div>

<style>
    .card-link {
        text-decoration: none; /* Usuwa podkreślenie */
        color: inherit; /* Kolor tekstu odziedziczony po elemencie nadrzędnym */
    }
    
    .card-link:hover {
        opacity: 0.8; /* Efekt przyciemnienia po najechaniu */
        text-decoration: none; /* Usuwa podkreślenie przy hover */
    }
</style>